# Milestones 2 Phase 1: Model Inference

# Identitas

Nama  : **Fadya Ulya Salsabila**

Batch : **RMT-018**

# Import Libraries

In [2]:
# Import Library

import pickle
import json
import pandas as pd
import numpy as np

# Load Data

In [4]:
with open('pipelines.pkl', 'rb') as file_1:
  pipelines = pickle.load(file_1)

with open('num_columns.txt', 'r') as file_2:
  num_columns = json.load(file_2)

with open('cat_columns.txt', 'r') as file_3:
  cat_columns = json.load(file_3)

with open('norm_columns.txt', 'r') as file_4:
  norm_columns = json.load(file_4)

with open('skew_columns.txt', 'r') as file_5:
  skew_columns = json.load(file_5)

with open('enc_columns.txt', 'r') as file_6:
  enc_columns = json.load(file_6)

# Load Inferencing

In [6]:
# Create New Data dari data original

data_inf = {
    'Category': '3=Cirrhosis',
    'Age': 45,
    'Sex': 'm',
    'ALB': 315,
    'ALP': 40,
    'ALT': 35,
    'AST': 140,
    'BIL': 25,
    'CHE': 19,
    'CHOL': 49,
    'CREA': 87,
    'GGT': 92,
    'PROT': 156
}

data_inf = pd.DataFrame([data_inf])
data_inf

      Category  Age Sex  ALB  ALP  ALT  AST  BIL  CHE  CHOL  CREA  GGT  PROT
0  3=Cirrhosis   45   m  315   40   35  140   25   19    49    87   92   156

In [7]:
# Predict menggunakan best model Logistic Regression

y_pred_inf = pipelines.predict(data_inf)
y_pred_inf

array([2])

Berdasarkan Inferencing di atas, dengan memasukkan dummy value pada features, pasien laki-laki berusia 45 tahun dengan ciri-ciri di atas, diprediksi akan mengalami `Hepatitis` yang ditunjukkan dengan label `2`, karena masih memiliki kadar albumin dan protein yang tinggi.